.title,
.todo-form {
  display: flex;
  justify-content: center;
}

.todo-form {
  margin-top: 20px;
}

.card-list {
  display: flex;
  margin: 0 20px;
}

.card {
  border: 1px solid green;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  width: 100px;
  height: 120px;
  text-align: center;
  line-height: 20px;
}
